/*
* {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
*/


body {
    background-color: #f4f4f4;
    font-size: 24px;
    margin: 0;
}

.link-title {

    text-decoration: none;
    font-size:24;
    color: #444444;
}

.container {
    width: 780px;
    margin: 0 auto;
    background: #fff;


}

.header {
    padding: 45px 0 20px 40px;
    border: 2px solid black;
}

.menu {
    background: #3b7687;
    padding: 0 0 6px 40px;
}

.menu a {
    color: #c5d6db;
    text-decoration: none;
    font-size: 14px;
    font-family: "Arial Narrow", "Myriad Pro";
}

.menu a:hover {
    color: #edf2f3;
}

aside {
    float: left;
    width: 120px;
    padding: 30px 0 0 40px;
    margin-bottom: 20px;

/*
    ^I added margin bottom

*/
}

h1 {
    margin: 0px;
    color: #869843;
    font-size: 24px;
    font-family: "Arial Narrow", "Myriad Pro";
    font-weight: normal;
}

h2 {
    color: #3b7687;
    font-size: 15px;
    margin: 20px 0 5px 0;
}

.main {
    margin: 0 0 0 180px;
    padding: 35px 40px 30px 0px;
    color: #444444;
    font-family: "Georgia";
    font-size: 13px;
    line-height: 18px;
    text-emphasis: justify;

}

.main a:hover {
    color: #444444;

}

#home-image img {
    width: 100%;
}

footer {
    padding: 4px 40px 6px 40px;
    background: #d6d6d6;
    font-family: "Lucida Sans Unicode";
    color: #444444;
    font-size: 11px;
    text-decoration: right;
    clear: both;  /* added this as the about and contact was like locked with the navi and eas respecting div boundries.*/
}

footer a {
    text-decoration: none;
    color: #262626;

}

.separator {
    color:#FFFFFF;
    font-size: 11px;
}
/*

ABOUT PAGE STYLES
*/

#about-page #home-image img {
    width: 70%;
      float: left;


}

#about-page #profile-info {
    width: 20%;
    float: right;
}

.button {
  width: 100%;
  height: auto;
  margin: 10px 0;
  cursor: pointer;
}

.button:hover {
  background-color: #989898;
}

.inline-button {
  width:16%;
  display: inline-block;
}

.inline-button:hover {
  width:16%;
  background-color: #989898;
}

.center-div {
  text-align: center;
}

.middle-div {
  text-align: center;
}

.paragraph-col1,.paragraph-col2 {
  width: 45%;
  display: inline-block;
  text-align: justify;
  margin: 10px;
  font-size: 20px;
}

#destiny {
  background-color: #000;
}

.fixed{position:fixed;top:0; bottom:0}
.innerscroll{overflow-y:scroll;height:100%}


html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

#container {
  height: 100%;
}

#sidebar {
  background-color: #2980b9;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 18%;
  overflow: auto;
}

#content {
  background-color: #f8f8f8;
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 82%;
  overflow: auto;
}

.LoginBoxButton {
  margin: 1rem;
}
.LoginBox {
  padding: 1rem;
}

.blackjack {
  background-color: black;
}



/* Dropdown Button -------------------------------------------------*/
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

/* The search field */
#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {outline: 3px solid #ddd;}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  border: 1px solid #ddd;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


/* Dropdown Button -------------------------------------------------*/


@font-face{
    font-family:adobe-clean;
    src:url(/fonts/AdobeClean/AdobeClean-Black.otf) format("opentype"),url(/fonts/AdobeClean/_ttf/AdobeClean-Black.ttf) format("truetype");
    font-weight:900
}
@font-face{
    font-family:adobe-clean;
    src:url(/fonts/AdobeClean/AdobeClean-BlackIt.otf) format("opentype"),url(/fonts/AdobeClean/_ttf/AdobeClean-BlackIt.ttf) format("truetype");
    font-weight:900;
    font-style:italic
}
@font-face{
    font-family:adobe-clean;
    src:url(/fonts/AdobeClean/AdobeClean-Bold.otf) format("opentype"),url(/fonts/AdobeClean/_ttf/AdobeClean-Bold.ttf) format("truetype");
    font-weight:700
}
@font-face{
    font-family:adobe-clean;
    src:url(/fonts/AdobeClean/AdobeClean-BoldCond.otf) format("opentype"),url(/fonts/AdobeClean/_ttf/AdobeClean-BoldCond.ttf) format("truetype");
    font-weight:700;
    font-stretch:condensed
}
@font-face{
    font-family:adobe-clean;
    src:url(/fonts/AdobeClean/AdobeClean-BoldCondIt.otf) format("opentype"),url(/fonts/AdobeClean/_ttf/AdobeClean-BoldCondIt.ttf) format("truetype");
    font-weight:700;
    font-stretch:condensed;
    font-style:italic
}
@font-face{
    font-family:adobe-clean;
    src:url(/fonts/AdobeClean/AdobeClean-BoldIt.otf) format("opentype"),url(/fonts/AdobeClean/_ttf/AdobeClean-BoldIt.ttf) format("truetype");
    font-weight:700;
    font-style:italic
}
@font-face{
    font-family:adobe-clean;
    src:url(/fonts/AdobeClean/AdobeClean-BoldSemiCn.otf) format("opentype"),url(/fonts/AdobeClean/_ttf/AdobeClean-BoldSemiCn.ttf) format("truetype");
    font-weight:700;
    font-stretch:semi-condensed
}
@font-face{
    font-family:adobe-clean;
    src:url(/fonts/AdobeClean/AdobeClean-BoldSemiCnIt.otf) format("opentype"),url(/fonts/AdobeClean/_ttf/AdobeClean-BoldSemiCnIt.ttf) format("truetype");
    font-weight:700;
    font-stretch:semi-condensed;
    font-style:italic
}
@font-face{
    font-family:adobe-clean;
    src:url(/fonts/AdobeClean/AdobeClean-Cond.otf) format("opentype"),url(/fonts/AdobeClean/_ttf/AdobeClean-Cond.ttf) format("truetype");
    font-stretch:condensed
}
@font-face{
    font-family:adobe-clean;
    src:url(/fonts/AdobeClean/AdobeClean-CondIt.otf) format("opentype"),url(/fonts/AdobeClean/_ttf/AdobeClean-CondIt.ttf) format("truetype");
    font-stretch:condensed;
    font-style:italic
}
@font-face{
    font-family:adobe-clean;
    src:url(/fonts/AdobeClean/AdobeClean-ExtraBold.otf) format("opentype"),url(/fonts/AdobeClean/_ttf/AdobeClean-ExtraBold.ttf) format("truetype");
    font-weight:800
}
@font-face{
    font-family:adobe-clean;
    src:url(/fonts/AdobeClean/AdobeClean-ExtraBoldIt.otf) format("opentype"),url(/fonts/AdobeClean/_ttf/AdobeClean-ExtraBoldIt.ttf) format("truetype");
    font-weight:800;
    font-style:italic
}
@font-face{
    font-family:adobe-clean;
    src:url(/fonts/AdobeClean/AdobeClean-It.otf) format("opentype"),url(/fonts/AdobeClean/_ttf/AdobeClean-It.ttf) format("truetype");
    font-style:italic
}
@font-face{
    font-family:adobe-clean;
    src:url(/fonts/AdobeClean/AdobeClean-Light.otf) format("opentype"),url(/fonts/AdobeClean/_ttf/AdobeClean-Light.ttf) format("truetype");
    font-weight:300
}
@font-face{
    font-family:adobe-clean;
    src:url(/fonts/AdobeClean/AdobeClean-LightIt.otf) format("opentype"),url(/fonts/AdobeClean/_ttf/AdobeClean-LightIt.ttf) format("truetype");
    font-weight:300;
    font-style:italic
}
@font-face{
    font-family:adobe-clean;
    src:url(/fonts/AdobeClean/AdobeClean-Medium.otf) format("opentype");
    font-weight:500
}
@font-face{
    font-family:adobe-clean;
    src:url(/fonts/AdobeClean/AdobeClean-Regular.otf) format("opentype"),url(/fonts/AdobeClean/_ttf/AdobeClean-Regular.ttf) format("truetype");
    font-weight:400
}
@font-face{
    font-family:adobe-clean;
    src:url(/fonts/AdobeClean/AdobeClean-SemiCn.otf) format("opentype"),url(/fonts/AdobeClean/_ttf/AdobeClean-SemiCn.ttf) format("truetype");
    font-stretch:semi-condensed
}
@font-face{
    font-family:adobe-clean;
    src:url(/fonts/AdobeClean/AdobeClean-SemiCnIt.otf) format("opentype"),url(/fonts/AdobeClean/_ttf/AdobeClean-SemiCnIt.ttf) format("truetype");
    font-stretch:semi-condensed;
    font-style:italic
